<ion-view view-title="Search">
  <ion-content>
    <h2>Search for your favorite gifs</h2>

    <form novalidate class="simple-form">
      What gifs would you like to see? <input type="text" ng-model="query" />
      <br/>
      <input type="submit" ng-click="update(query)" value = "Search Away!" />
    </form>
  </pre>You are looking for a gif of {{query}}</pre>

    <img collection-repeat="result in results"
    item-width="33%" item-height="200px"
    ng-src= "{{result.images.fixed_height_downsampled.url}}" ng-click="showImages($index)">

    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
